<!-- strap追加してください -->
<div class="col-xs-3">
	<table class="table table-bordered table-hover">

	 	<tr>
	 		<th class="text-center">
	 			<span class="glyphicon glyphicon-search" aria-hidden="true">
	 			</span>ジャンル検索
	 		</<th>
			<tr>
				<td>
					<p><%= link_to "ケーキ" %></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= link_to "焼き菓子" %></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= link_to "プリン" %></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><%= link_to "キャンディ" %></p>
				</td>
			</tr>
		</th>
	</table>
</div>
<!-- 変数まだ入れてない -->