<!-- strap追加してください -->
<h4>ジャンル検索</h4>
<%= link_to “ケーキ” products_path %>
<%= link_to “焼き菓子” products_path %>
<%= link_to “プリン” products_path %>
<%= link_to “キャンディ” products_path %>
<!-- 変数まだ入れてない -->