<h1>Members#show</h1>
<p>Find me in app/views/members/show.html.erb</p>
<div class="row">
	<table>
		<tr>
			<th class="active">顧客ID</th>
			<td>人間</td>
		</tr>
		<tr>
			<th class="active">s氏名</th>
			<td>長野県</td>
		</tr>
		<tr>
			<th class="active">フリガナ</th>
			<td>銀行振り込み</td>
		</tr>
		<tr>
			<th class="active">郵便番号</th>
			<td>人間</td>
		</tr>
		<tr>
			<th class="active">住所</th>
			<td>人間</td>
		</tr>
		<tr>
			<th class="active">顧客ID</th>
			<td>人間</td>
		</tr>
		<tr>
			<th class="active">顧客ID</th>
			<td>人間</td>
		</tr>
	</table>
</div>