<div class="body">
注文情報確認
	<table class="table table-bordered">
		<thead>
			<tr class="success">
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>数量</th>
				<th>小計</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>画像と商品名</td>
				<td>1円</td>
				<td>1</td>
				<td>１円</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<tr>
			<th class="succes">送料</th>
			<td>800</td>
		</tr>
		<tr>
			<th class="succes">商品合計</th>
			<td>111</td>
		</tr>
		<tr>
			<th class="succes">請求金額</th>
			<td>現金</td>
		</tr>
	</table>
</div>