注文情報確認
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="success">商品名</th>
			<th class="success">単価</th>
			<th class="success">数量</th>
			<th class="success">小計</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>画像と商品名</td>
			<td>1100</td>
			<td>1</td>
			<td>1100</td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered">
	<tr>
		<th class="success">　送料</th>
		<td>800</td>
	</tr>
	<tr>
		<th class="success">商品合計</th>
		<td>1760</td>
	</tr>
	<tr>
		<th class="success">請求金額</th>
		<td>2560</td>
	</tr>
</table>
<h2>支払い方法</h2>　クレジットカード
<h2>お届け先</h2>　花子