注文情報入力
<form>
        <div class="form-group">
          <label class="control-label">支払い方法</label>
            <label><input type="radio" name="radio">クレジットカード</label>
            <label><input type="radio" name="radio">銀行振り込み</label>
        </div>
  </form>
  <form>
        <div class="form-group">
          <label class="control-label">お届け先</label>
          <div class="radio">
            <label><input type="radio" name="radio">ご自身の住所（idで持ってくる）</label>
            <label><input type="radio" name="radio">登録済み住所から選択</label>
            <label><input type="radio" name="radio">新しい登録先
               <select class="form-control">
                <option>選択肢1</option>
                <option>選択肢2</option>
                <option>選択肢3</option>
                <option>選択肢4</option>
                <option>選択肢5</option>
               </select></label>
          </div>
        </div>
        <button class="btn btn-default">送信</button>
      </form>