<h2>ショッピングカート</h2>


 <table class=“table table-bordered”>
  <thead>
    <tr bgcolor=“#CCCCCC”>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <th>cart_item.name</th>
      <td>cart_item.price</td>
      <td><%= link_to “削除する“, cart_items_path, class: 'btn-sm btn-danger', method: :delete, data: {confirm: “削除しますか？“} %></td>
    </tr>
      <% end %>
  </tbody>
</table>