/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.newbox {
display: inline;

}

.newbox1 {
display: inline;
margin-left: 132px;

}

.newbox2 {
display: inline;
margin-left: 104px;
}

.newbox3 {
}

.newbox4 {
display: inline;
}

.newbox5 {
display: inline;
margin-left: 90px;
}

.newbox6 {
display: inline;
margin-left: 90px;
}

.newbox7 {
}

header {
	background: linear-gradient( #99FFCC,#33FF66);
}

.header-title {
	padding-top: 3em;
margin-left: 20px;
font-size: 250%;
}

.navbar-nav {
	margin-right: 20px;
}

.col-xs-6 {
    float: left;
}

.opinion_box4 {

    float: left;
    display: inline-block;
    padding: 8px;
}
.color-green {
    color: green;
}
.color-blue {
    color: blue;
}
.genre-box {
	width: 20%;
	float: left;
}
.text-box {
	margin-left: 50px;
	width: 70%;
	height: 230px;
	text-align: center;
	float: left;
	background: linear-gradient( #00F9A9,#5BFF7F,#FFE4E1);
	border: 5px solid #66CC00;
}
.text {
	width: 45%;
	height: 230px;
	text-align: center;
	margin: 0 auto;
	padding-top: 65px;
	font-size: 15px;
}
.image {
	margin-left: 4px;
}



