
<%= render 'genres/genre_search' %>
<div class="box">
	<h1>商品一覧</h1>
	<h2>(全x件)</h2>
	<div class="box1">
		each
		<%= link_to "link_to" %>
		<div class="box3">
			画像
				<div class="image">
					<%= "商品名" %>
					<%= "値段" %>
				</div>
		</div>
	</div>
</div>
<!-- css反映させる -->
