<div class="form-group">
  	<label class="control-label">個数選択</label>
  	<select class="form-control">
    	<option>1個</option>
    	<option>2個</option>
    	<option>3個</option>
    	<option>4個</option>
    	<option>5個</option>
  	</select>
</div>
<%= link_to "カートに追加"　class="btn btn-default"  %>
あいうeo