<h2 class="text-success">注文履歴一覧</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-center success">購入日時</th>
			<th class="text-center success">単価</th>
			<th class="text-center success">数量</th>
			<th class="text-center success">小計</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<tr>
				<td class="text-center"><%= %></td>
				<td class="text-center"><%= %></td>
				<td class="text-center"><%= %></td>
				<td class="text-center"><%= %></td>
			</tr>
		<%  end %>
	</tbody>
</table>