<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h1 class="text-success">注文履歴一覧</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="succcess">購入日時</th>
					<th class="succcess">購入者</th>
					<th class="succcess">注文個数</th>
					<th class="succcess">注文ステータス</th>
				</tr>
			</thead>
			<% @orders.each do |order| %>
				<tbody>
					<tr>
						<td>
							<%= link_to admins_order_path(order) do %>
								<%= order.created_at %>
							<% end %>
						</td>
						<td><%= order.shipping_name %></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			<% end %>
		</table>
	</div>
</div>