<h1>マイページ</h1>

<div class="row">
	<p><strong>登録情報</strong></p>
	<%= link_to "編集する" %>
	<%= link_to "パスワードを変更する" %>
</div>

<div class="row">
	<table class="table table-bordered">
		<tr>
			<th class="active">名前</th>
			<td>last_name+first_name</td>
		</tr>
		<tr>
			<th class="active">カナ</th>
			<td>last_name_kana+first_name_kana</td>
		</tr>
		<tr>
			<th class="active">郵便番号</th>
			<td>postcode</td>
		</tr>
		<tr>
			<th class="active">住所</th>
			<td>address</td>
		</tr>
		<tr>
			<th class="active">電話番号</th>
			<td>phone_number</td>
		</tr>
		<tr>
			<th class="active">メールアドレス</th>
			<td>email</td>
		</tr>
	</table>
</div>

<div class="row">
	<p><strong>配送先</strong></p>
	<a href="#" class="btn btn-primary" role="button">一覧を見る</a>
</div>
<div class="row">
	<p><strong>注文履歴</strong></p>
	<%= link_to "一覧を見る" %>
</div>